In [2]:
set = {"apple", "banana", "cherry"}
print(set)

{'banana', 'cherry', 'apple'}

In [3]:
# Check if banana is present/not present in a set
set = {"apple", "banana", "cherry"}

print("banana" in set)
print("banana" not in set)

True
False

In [4]:
#Add items using the .add() function
set = {"apple", "banana", "cherry"}

set.add("orange")

print(set)

{'orange', 'banana', 'cherry', 'apple'}

In [5]:
# Add items from one set into another with the .update() method

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

{'pineapple', 'banana', 'papaya', 'mango', 'apple', 'cherry'}

In [6]:
# Remove items with .remove() and .discard() methods

thisset.discard("banana")
thisset.remove("papaya")

print(thisset)

{'pineapple', 'mango', 'apple', 'cherry'}

In [7]:
# Union
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [8]:
# Can also use | to do the same thing
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [9]:
# intersection() method returns a new set with only the items that are present in both sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [10]:
# Can you & to do the same thing
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [11]:
# difference() will return a new set with items in the first set that are NOT present in the other
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [12]:
# symmetric_difference() keeps only the elements that are NOT present in both sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)

{'banana', 'microsoft', 'google', 'cherry'}

In [13]:
# Can use ^ to do the same thing
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'microsoft', 'google', 'cherry'}

In [ ]:
#