In [12]:
mylist = ["app", "bana", "cherry"]
print(mylist)

['app', 'bana', 'cherry']

In [13]:
print(type(mylist))

<class 'list'>

In [14]:
print(mylist[-1])

cherry

In [19]:
print(mylist[:3])

['app', 'bana', 'cherry']

In [20]:
mylist[1] = "blackberry"
print(mylist)

['app', 'blackberry', 'cherry']

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [22]:
thislist.insert(1, "blueberry")
print(thislist)

['apple', 'blueberry', 'banana', 'cherry', 'orange']

In [23]:
# removing an item from a list
thislist.remove("blueberry")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [24]:
# remove at specified index
thislist.pop(1)
print(thislist)

['apple', 'cherry', 'orange']

In [25]:
# can also use del
del thislist[0]
print(thislist)

['cherry', 'orange']

In [27]:
# deleting the entire list
del thislist
print(thislist) # throws an error

NameError: name 'thislist' is not defined

In [28]:
# emptying the list, leaving it with no elements
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [31]:
# looping through a list
thislist = ["apple", "banana", "cherry"]
for i in thislist:
    print(i)

apple
banana
cherry

In [33]:
# looping by index numbers
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [34]:
# looping with whilte loops
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [38]:
# List comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist2 = [x for x in fruits if "a" in x]
print(newlist2)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

In [40]:
# Setting values to upper case
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [42]:
# sorting lists alphabetically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort() #ascending by default
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [43]:
# or numerically
thislist = [100, 50, 65, 82, 23]
thislist.sort()
thislist

[23, 50, 65, 82, 100]

In [44]:
# descending order now
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [45]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [46]:
#  Customizing sort function
def myfunc(n):
    return abs(n - 50)
thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [47]:
# Case insensitive order
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [48]:
# Reversing order of a list, regardless of alphabet
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [49]:
# Copying a list
thislist = ["banana", "Orange", "Kiwi", "cherry"]
mylist = thislist.copy()
print(mylist)

['banana', 'Orange', 'Kiwi', 'cherry']

In [51]:
# copying using list() method
thislist = ["banana", "Orange", "Kiwi", "cherry"]
list1 = list(thislist)
print(list1)

['banana', 'Orange', 'Kiwi', 'cherry']

In [53]:
# Joining list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)
#adds it to the end

['a', 'b', 'c', 1, 2, 3]

In [55]:
# Joining list by appending
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

# Let's do the reverse now

list3 = ["a", "b", "c"]
list4 = [1, 2, 3]

for x in list3:
    list4.append(x)

print(list4)

['a', 'b', 'c', 1, 2, 3]
[1, 2, 3, 'a', 'b', 'c']

In [59]:
# Same thing with with extend() method
list5 = [45, 21, 76, 12]
list6 = ["Cole", "George", "Ben"]

list5.extend(list6)
print(list5)

list5.count(45) # Returns the number of elements with the specified value

[45, 21, 76, 12, 'Cole', 'George', 'Ben']

1